<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstPetProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFE238BC1E7C325500699EFA</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>BFE238D01E7C325600699EFA</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>BFE238DB1E7C325600699EFA</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
